<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
</head>

<body>
    <h1>Editar agendamento</h1>
    <a href="/">Menu |</a>
    <a href="/agendamentos"> Agendamentos</a>
    <br>
    <br>
    <form th:action="@{/salvarAgendamento}" th:object="${agendamento}" method="POST" id="idAgendamento">

        <label>Agendamento:</label> <span th:text="${agendamento.idAgendamento}"></span>
        <br>
        <input type="hidden" th:value="${agendamento.idAgendamento}" th:field="${agendamento.idAgendamento}"
            name="idAgendamento" />
        <label>Barbeiro:</label>
        <select th:field="${agendamento.barbeiro}" required>
            <option value="">Escolha o barbeiro</option>
            <option th:each="barbeiro : ${barbeiros}" th:value="${barbeiro.idBarbeiro}" th:text="${barbeiro.nome}">
            </option>
        </select>

        <label>Cliente:</label>
        <select th:field="${agendamento.cliente}" required>
            <option value="">Escolha o cliente</option>
            <option th:each="cliente : ${clientes}" th:value="${cliente.idCliente}" th:text="${cliente.nome}">
            </option>
        </select>

        <label>Data:</label>
        <input type="date" th:value="${agendamento.data}" name="data" required />
        <br>

        <label>Hora:</label>
        <input type="time" th:value="${agendamento.horaInicial}" name="horaInicial" required />
        <br>



        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset" value="Cancelar" />
    </form>
</body>

</html>