<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do salão</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Detalhes do salão</h1>
    <a href="/">Menu |</a>
    <a href="/saloes"> Salões</a>
    <br>
    <br>
    <b>Salão: </b> <span th:text="${salao.idSalao}"></span>
    <br><b>Nome: </b> <span th:text="${salao.nome}"></span>
    <br><b>Endereço: </b> <span th:text="${salao.endereco}"></span>
    <br><b>Cidade: </b> <span th:text="${salao.cidade}"></span>
    <br><b>Hora abertura: </b> <span th:time="${salao.horaAbre}"></span>
    <br><b>Hora fechamento: </b> <span th:time="${salao.horaFecha}"></span>
    <br>
    <br>

    Agendamento(s):
    <table>
        <tr>
            <th>Agendamento</th>
            <th>Data</th>
            <th>Detalhes</th>
        </tr>

        <tr th:each="agendamento : ${salao.agendamentos}">
            <td th:text="${agendamento.data}"></td>
            <td> <a th:href="@{'/detalhesAgendamento/' + ${agendamento.idAgendamento}}">Detalhes</a></td>
        </tr>
    </table>
    <br>

    Cliente(s):
    <table>
        <tr>
            <th>Cliente</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Detalhes</th>
        </tr>

        <tr th:each="cliente : ${salao.clientes}">
            <td th:text="${cliente.idCliente}"></td>
            <td th:text="${cliente.nome}"></td>
            <td th:text="${cliente.cpf}"></td>
            <td> <a th:href="@{'/detalhesCliente/' + ${cliente.idCliente}}">Detalhes</a></td>
        </tr>
    </table>
    <br>

    <form th:action="@{/associarClienteSalao(idSalao=${salao.idSalao})}" method="POST">
        <label>Adicionar cliente:</label>
        <select name="idCliente" required>
            <option value="">Novo cliente</option>
            <option th:each="cliente : ${clientes}" th:value="${cliente.idCliente}" th:text="${cliente.nome}">
            </option>
        </select>
        <input type="submit" value="Associar cliente" />
    </form>

</body>

</html>