<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar especialidade</title>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <h1>Editar especialidade</h1>
    <a href="/">Menu |</a>
    <a href="/especialidades"> Especialidades</a>
    <br>
    <br>
    <form th:action="@{/salvarEspecialidade}" th:object="${especialidade}" method="POST" id="idEspecialidade">

        <label>Especialidade:</label> <span th:text="${especialidade.idEspecialidade}"></span>
        <br>
        <input type="hidden" th:value="${especialidade.idEspecialidade}" th:field="${especialidade.idEspecialidade}"
            name="idEspecialidade" />
        <input type="hidden" th:value="${especialidade.agendamentos}" th:field="${especialidade.agendamentos}"
            name="agendamentos" />
        <input type="hidden" th:value="${especialidade.barbeiros}" th:field="${especialidade.barbeiros}"
            name="barbeiros" />

        <label>Descrição:</label>
        <input type="text" placeholder="digite a descrição" th:value="${especialidade.descricao}" name="descricao"
            required />
        <br>
        <label>Preço:</label>
        <input type="number" placeholder="digite o preço" th:value="${especialidade.preco}" name="preco" required />
        <br>
        <label>Tempo médio:</label>
        <input type="time" th:value="${especialidade.tempoMedio}" name="tempoMedio" required />
        <br>

        Especialidade(s):
        <table>
            <tr>
                <th>Especialidade</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Tempo médio</th>
                <th>Endereco</th>
                <th>Detalhes</th>
            </tr>

            <tr th:each="especialidade : ${barbeiro.especialidades}">
                <td th:text="${especialidade.idEspecialidade}"></td>
                <td th:text="${especialidade.descricao}"></td>
                <td th:text="${especialidade.preco}"></td>
                <td th:text="${especialidade.tempoMedio}"></td>
                <td> <a th:href="@{'/detalhesEspecialidade/' + ${especialidade.idEspecialidade}}">Detalhes</a></td>
            </tr>
        </table>
        <br>

        <form th:action="@{/associarEspecialidadeBarbeiro(idBarbeiro=${barbeiro.idBarbeiro})}" method="POST">
            <label>Adicionar nova especialidade:</label>
            <select name="idEspecialidade" required>
                <option value="">nova especialidade</option>
                <option th:each="especialidade : ${especialidades}" th:value="${especialidade.idEspecialidade}"
                    th:text="${especialidade.descricao}">
                </option>
            </select>
            <input type="submit" value="Associar especialidade" />
        </form>

        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset" value="Cancelar" />
    </form>

</body>

</html>