<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar especialidade</title>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <h1>Editar especialidade</h1>
    <a href="/">Menu |</a>
    <a href="/especialidades"> Especialidades</a>
    <br>
    <br>
    <form th:action="@{/salvarEspecialidade}" th:object="${especialidade}" method="POST" id="idEspecialidade">

        <label>Especialidade:</label> <span th:text="${especialidade.idEspecialidade}"></span>
        <br>
        <input type="hidden" th:value="${especialidade.idEspecialidade}" th:field="${especialidade.idEspecialidade}"
            name="idEspecialidade" />
        <input type="hidden" th:value="${especialidade.agendamentos}" th:field="${especialidade.agendamentos}"
            name="agendamentos" />
        <input type="hidden" th:value="${especialidade.barbeiros}" th:field="${especialidade.barbeiros}"
            name="barbeiros" />

        <label>Descrição:</label>
        <input type="text" placeholder="digite a descrição" th:value="${especialidade.descricao}" name="descricao"
            required />
        <br>
        <label>Preço:</label>
        <input type="number" placeholder="digite o preço" th:value="${especialidade.preco}" name="preco" required />
        <br>
        <label>Tempo médio:</label>
        <input type="time" th:value="${especialidade.tempoMedio}" name="tempoMedio" required />
        <br>

        <br>
        <br>
        Barbeiro(s):
        <table>
            <tr>
                <th>Barbeiro</th>
                <th>Nome</th>
                <th>Detalhes</th>
            </tr>

            <tr th:each="barbeiro : ${especialidade.barbeiros}">
                <td th:text="${barbeiro.idBarbeiro}"></td>
                <td th:text="${barbeiro.nome}"></td>
                <td> <a th:href="@{'/detalhesBarbeiro/' + ${barbeiro.idBarbeiro}}">Detalhes</a></td>
            </tr>
        </table>
        <br>


        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset" value="Cancelar" />
    </form>

</body>

</html>