<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro ao agendar</title>
</head>

<body>
    <h2>Erro ao agendar!</h2>
    <p>Infelizmente o horário escolhido já está em uso!</p>
    <p>ou o barbeiro não possuí nenhuma especialidade</p>

    <br>
    <br>
    <a href="/">Menu |</a>
    <br>
    <a href="/criarAgendamento"> Novo Agendamento</a>
    <br>
    <a href="/agendamentos"> Agendamentos</a>
    <br>
    <br>
</body>

</html>